<div class="container mx-auto px-4 isolate{% unless section.settings.full_width %} page-width{% endunless %}">
  <div class="grid grid-cols-1 lg:grid-cols-12">
    <div class="col-span-6">Image Section</div>
    <div class="col-span-6 space-y-10">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <p
              class="font-bold w-[400px] {{ block.settings.heading_size }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {{ block.settings.heading }}
            </p>

          {%- when 'caption' -%}
            <p
              class="hidden lg:!flex w-[450px] {{ block.settings.text_style }} text-{{ block.settings.content_alignment }} {{ block.settings.text_size }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {{ block.settings.caption | escape }}
            </p>

          {%- when 'button' -%}
            <div
              class="
                flex w-fit
                {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}
                {% if block.settings.button_style_secondary %} font-black border-b-2 border-gray-500 {% endif %}
              "
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {%- if block.settings.button_label != blank -%}
                <a
                  {% if block.settings.button_link == blank %}
                    role="link"
                    aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link }}"
                  {% endif %}
                  class="leading-[17.4px] text-[12.8px]  font-black {% if block.settings.button_style_secondary %} bg-white text-black {% else %} bg-black text-white px-5 py-6 {% endif %}"
                >
                  {{- block.settings.button_label | escape -}}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.product-card.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "select",
      "id": "desktop_content_position",
      "options": [
        {
          "value": "left",
          "label": "t:sections.product-card.settings.desktop_content_position.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.product-card.settings.desktop_content_position.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.product-card.settings.desktop_content_position.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.product-card.settings.desktop_content_position.label",
      "info": "t:sections.product-card.settings.desktop_content_position.info"
    },
    {
      "type": "select",
      "id": "content_alignment",
      "options": [
        {
          "value": "left",
          "label": "t:sections.product-card.settings.content_alignment.options__1.label"
        },
        {
          "value": "center",
          "label": "t:sections.product-card.settings.content_alignment.options__2.label"
        },
        {
          "value": "right",
          "label": "t:sections.product-card.settings.content_alignment.options__3.label"
        }
      ],
      "default": "center",
      "label": "t:sections.product-card.settings.content_alignment.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "default": true,
      "label": "t:sections.product-card.settings.full_width.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 40
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 52
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "t:sections.product-card.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.product-card.blocks.heading.settings.heading.default",
          "label": "t:sections.product-card.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "text-[31.25px]",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "text-[35.25px]",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "text-[40px]",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "text-[44px]",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "text-[48pxpx]",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "text-[31.25px]",
          "label": "t:sections.all.heading_size.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.product-card.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.product-card.blocks.caption.settings.text.default",
          "label": "t:sections.product-card.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.product-card.settings.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.product-card.settings.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.product-card.settings.content_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.product-card.settings.content_alignment.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "text-[12px]",
              "label": "t:sections.product-card.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "text-[16px]",
              "label": "t:sections.product-card.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "text-[20px]",
              "label": "t:sections.product-card.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "text-[12px]",
          "label": "t:sections.product-card.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.product-card.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.product-card.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.product-card.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.product-card.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.product-card.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": true,
          "label": "t:sections.product-card.blocks.buttons.settings.button_style_secondary_1.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-card.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "caption"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
