<!-- Stiller -->
{%- style -%}
  .image-{{ section.id }}-padding {
    padding-right: {{ section.settings.image_padding_right}}px;
    padding-left: {{ section.settings.image_padding_left}}px;
  }

  .section-{{ section.id }}-padding {
    padding-inline: {{ section.settings.section_padding_x }}px;
    padding-block: {{ section.settings.section_padding_y }}px;
  }

  .content-{{ section.id }}-padding {
    padding-block: {{ section.settings.content_padding_y }}rem;
  }

  .image-opacity-{{ section.id }} {
    opacity: {{ section.settings.image_overlay_opacity | divided_by: 100.0 }};
  }

  .swiper-button-prev,
  .swiper-button-next {
    display: flex !important;
    color:black;
    border: 1px solid #c5c5c5;
    align-items: center;
    justify-content: center;
    --swiper-navigation-size: 18px;
    padding:20px;
    top: 45% !important;
  }

  .swiper-button-next.swiper-button-disabled,
  .swiper-button-prev.swiper-button-disabled {
    display: none !important;
  }

  @media screen and (max-width: 1024px) {
    .image-{{ section.id }}-padding {
      padding-right: {{ section.settings.image_padding_right | times: 0 | round: 0 }}px;
      padding-left:  {{ section.settings.image_padding_left | times: 0 | round: 0 }}px;
    }

    .section-{{ section.id }}-padding {
      padding-inline: {{ section.settings.section_padding_x | times: 0.75 | round: 0 }}px;
      padding-block: {{ section.settings.section_padding_y | times: 0.75 | round: 0 }}px;
    }

    .swiper-button-prev,
    .swiper-button-next {
        display: none !important;
    }

  }
{%- endstyle -%}

<div class="lg:container mx-4 lg:mx-auto color-{{ section.settings.color_scheme }} gradient section section-{{ section.id }}-padding">
  <div class="grid grid-cols-1 lg:grid-cols-12">
    <!-- Sol içerik Alanı -->
    <div class="col-auto lg:col-span-6">
      {%- if section.settings.image != blank -%}
        <div
          id="Image-{{ section.id }}"
          class="image-{{ section.id }}-padding image-opacity-{{ section.id }}"
        >
          {%- assign image_class_full = image_class -%}
          {%- if section.settings.image_resize != blank -%}
            {%- assign image_class_full = image_class_full | append: ' ' | append: section.settings.image_resize -%}
          {%- endif -%}

          {%- if section.settings.image_height != blank -%}
            {%- assign image_class_full = image_class_full | append: ' ' | append: section.settings.image_height -%}
          {%- endif -%}

          {{
            section.settings.image
            | image_url: width: 3840
            | image_tag:
              width: section.settings.image.width,
              height: image_height,
              class: image_class_full,
              sizes: sizes,
              widths: widths,
              fetchpriority: fetch_priority
          }}
        </div>
      {%- endif -%}
    </div>
    <!-- Sağ içerik Alanı -->
    <div class="mt-[-35rem] lg:mt-0 mx-[30px] lg:mx-0 col-auto lg:col-span-6 space-y-10 content-{{ section.id }}-padding">
      {%- for block in section.blocks -%}
        {%- case block.type -%}
          {%- when 'heading' -%}
            <p
              class="w-full lg:w-[400px] leading-[40.62px] text-white lg:text-black font-bold text-[{{ block.settings.heading_size }}] text-{{ block.settings.heading_content_alignment }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {{ block.settings.heading }}
            </p>

          {%- when 'caption' -%}
            <p
              class="hidden lg:!flex w-[450px] leading-[25.6px] text-[{{ block.settings.text_size }}] text-{{ block.settings.content_alignment }} {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}"
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {{ block.settings.caption | escape }}
            </p>
          {%- when 'button' -%}
            <div
              class="
                flex w-fit capitalize text-[12.8px]
                {% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}
                {% if block.settings.button_style_secondary %} font-black border-b-2 border-gray-500 {% endif %}
              "
              {{ block.shopify_attributes }}
              {% if settings.animations_reveal_on_scroll %}
                data-cascade
                style="--animation-order: {{ forloop.index }};"
              {% endif %}
            >
              {%- if block.settings.button_label != blank -%}
                <a
                  {% if block.settings.button_link == blank %}
                    role="link"
                    aria-disabled="true"
                  {% else %}
                    href="{{ block.settings.button_link }}"
                  {% endif %}
                  class="leading-[17.4px] text-[14px] lg:text-[12.8px] font-black {% if block.settings.button_style_secondary %} bg-transparent text-white lg:text-black {% else %} bg-black text-white px-5 py-6 {% endif %}"
                >
                  {{- block.settings.button_label | escape -}}
                </a>
              {%- endif -%}
            </div>
        {%- endcase -%}
      {%- endfor -%}

      <!-- Swiper Alanı -->
      <div class="swiper pt-12">
        <div class="swiper-wrapper">
          {%- for block in section.blocks -%}
            {%- if block.type == 'main' -%}
              <div class="swiper-slide">
                <div class="max-w-sm mx-auto">
                  <picture className="w-full h-50 md:h-full">
                    <img
                      src="{{ block.settings.image | image_url: width: 3840 }}"
                      alt="{{ block.settings.title }}"
                      class="w-full h-full aspect-square object-cover"
                      width="500"
                      height="600"
                    >
                  </picture>
                  <!-- İçerik Alanı -->
                  <div class="pt-4">
                    <p class="text-[12.8px] font-[400] leading-[20.48px] text-black">{{ block.settings.title }}</p>
                    <div class="grid grid-cols-1 lg:grid-cols-2">
                      <div class="col-auto lg:col-span-1">
                        <p class="text-[12.8px] font-semibold leading-[20.48px] text-black mt-2 text-xl text-gray-600">
                          {{ block.settings.price }}
                        </p>
                      </div>
                      <div class="col-auto lg:cols-span-1 text-left lg:text-right self:start lg:self-end">
                        <input
                          type="radio"
                          class="form-radio appearance-none h-5 w-5 bg-green-100 border border-gray-300 rounded-full checked:bg-green-100 checked:border-2 checked:border-white focus:ring-2"
                          name="radio"
                          checked
                        >
                        <input
                          type="radio"
                          class="form-radio appearance-none h-5 w-5 bg-red-300 border border-gray-300 rounded-full checked:bg-red-300 checked:border-2 checked:border-white focus:ring-2"
                          name="radio"
                          checked
                        >
                        <input
                          type="radio"
                          class="form-radio appearance-none h-5 w-5 bg-purple-300 border border-gray-300 rounded-full checked:bg-purple-300 checked:border-2 checked:border-white focus:ring-2"
                          name="radio"
                          checked
                        >
                        <input
                          type="radio"
                          class="form-radio appearance-none h-5 w-5 bg-green-500 border border-gray-300 rounded-full checked:bg-green-500 checked:border-2 checked:border-white focus:ring-2"
                          name="radio"
                          checked
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        </div>

        <div class="swiper-pagination"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-scrollbar"></div>
      </div>
    </div>
  </div>
</div>

<!-- Swiper JS -->
{% javascript %}
  document.addEventListener('DOMContentLoaded', function () {
    new Swiper('.swiper', {
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
      pagination: {
        enabled: false,
        el: '.swiper-pagination',
        clickable: true,
      },
      slidesPerView: 2,
      spaceBetween: 10,
      breakpoints: {
        640: {
          slidesPerView: 2,
          spaceBetween: 20,
        },
        768: {
          slidesPerView: 2,
          spaceBetween: 30,
        },
        1024: {
          slidesPerView: 3,
          spaceBetween: 40,
        },
      },
    });
  });
{% endjavascript %}

<!-- Şema -->
{% schema %}
{
  "name": "t:sections.product-card.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "t:sections.product-card.settings.image.label"
    },
    {
      "type": "range",
      "id": "image_overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "%",
      "label": "t:sections.product-card.settings.image_overlay_opacity.label",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_height",
      "options": [
        {
          "value": "min-h-[60rem]",
          "label": "t:sections.product-card.settings.image_height.options__1.label"
        },
        {
          "value": "min-h-[68rem]",
          "label": "t:sections.product-card.settings.image_height.options__2.label"
        },
        {
          "value": "min-h-[72rem]",
          "label": "t:sections.product-card.settings.image_height.options__3.label"
        }
      ],
      "default": "min-h-[72rem]",
      "label": "t:sections.product-card.settings.image_height.label",
      "info": "t:sections.product-card.settings.image_height.info"
    },
    {
      "type": "select",
      "id": "image_resize",
      "options": [
        {
          "value": "object-none",
          "label": "t:sections.product-card.settings.image_resize.options__1.label"
        },
        {
          "value": "object-fill",
          "label": "t:sections.product-card.settings.image_resize.options__2.label"
        },
        {
          "value": "object-scale-down",
          "label": "t:sections.product-card.settings.image_resize.options__3.label"
        },
        {
          "value": "object-cover",
          "label": "t:sections.product-card.settings.image_resize.options__4.label"
        }
      ],
      "default": "object-none",
      "label": "t:sections.product-card.settings.image_resize.label"
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.product-card.settings.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "section_padding_x",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.product-card.settings.padding.section_padding_x",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_padding_y",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.product-card.settings.padding.section_padding_y",
      "default": 24
    },
    {
      "type": "header",
      "content": "t:sections.product-card.settings.padding.image_padding_heading"
    },
    {
      "type": "range",
      "id": "image_padding_right",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.product-card.settings.padding.padding_right",
      "default": 100
    },
    {
      "type": "range",
      "id": "image_padding_left",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.product-card.settings.padding.padding_left",
      "default": 0
    },
    {
      "type": "header",
      "content": "t:sections.product-card.settings.padding.content_padding_heading"
    },
    {
      "type": "range",
      "id": "content_padding_y",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "rem",
      "label": "t:sections.product-card.settings.padding.padding_y",
      "default": 8
    }
  ],
  "blocks": [
    {
      "type": "main",
      "name": "Carousel card",
      "settings": [
        {
          "id": "image",
          "label": "Image",
          "type": "image_picker"
        },
        {
          "id": "title",
          "label": "Heading",
          "type": "text",
          "default": "Image with text"
        },
        {
          "id": "price",
          "label": "Price",
          "type": "text",
          "default": "Price"
        }
      ]
    },
    {
      "type": "heading",
      "name": "t:sections.product-card.blocks.heading.name",
      "limit": 1,
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.product-card.blocks.heading.settings.heading.default",
          "label": "t:sections.product-card.blocks.heading.settings.heading.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "31.25px",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "35.25px",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "40px",
              "label": "t:sections.all.heading_size.options__3.label"
            },
            {
              "value": "44px",
              "label": "t:sections.all.heading_size.options__4.label"
            },
            {
              "value": "48px",
              "label": "t:sections.all.heading_size.options__5.label"
            }
          ],
          "default": "31.25px",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "heading_content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.product-card.settings.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.product-card.settings.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.product-card.settings.content_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.product-card.settings.content_alignment.label"
        }
      ]
    },
    {
      "type": "caption",
      "name": "t:sections.product-card.blocks.caption.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "default": "t:sections.product-card.blocks.caption.settings.text.default",
          "label": "t:sections.product-card.blocks.caption.settings.text.label"
        },
        {
          "type": "select",
          "id": "content_alignment",
          "options": [
            {
              "value": "left",
              "label": "t:sections.product-card.settings.content_alignment.options__1.label"
            },
            {
              "value": "center",
              "label": "t:sections.product-card.settings.content_alignment.options__2.label"
            },
            {
              "value": "right",
              "label": "t:sections.product-card.settings.content_alignment.options__3.label"
            }
          ],
          "default": "left",
          "label": "t:sections.product-card.settings.content_alignment.label"
        },
        {
          "type": "select",
          "id": "text_size",
          "options": [
            {
              "value": "12px",
              "label": "t:sections.product-card.blocks.caption.settings.caption_size.options__1.label"
            },
            {
              "value": "16px",
              "label": "t:sections.product-card.blocks.caption.settings.caption_size.options__2.label"
            },
            {
              "value": "20px",
              "label": "t:sections.product-card.blocks.caption.settings.caption_size.options__3.label"
            }
          ],
          "default": "12px",
          "label": "t:sections.product-card.blocks.caption.settings.caption_size.label"
        }
      ]
    },
    {
      "type": "button",
      "name": "t:sections.product-card.blocks.buttons.name",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_label",
          "default": "t:sections.product-card.blocks.buttons.settings.button_label_1.default",
          "label": "t:sections.product-card.blocks.buttons.settings.button_label_1.label",
          "info": "t:sections.product-card.blocks.buttons.settings.button_label_1.info"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "t:sections.product-card.blocks.buttons.settings.button_link_1.label"
        },
        {
          "type": "checkbox",
          "id": "button_style_secondary",
          "default": true,
          "label": "t:sections.product-card.blocks.buttons.settings.button_style_secondary_1.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.product-card.presets.name",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "caption"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
